
body,
html {
  background-color: black;
  height: 8000px;
  margin: 0 auto;
  letter-spacing: 0px;
}


  /*画面全体の設定*/
body,
html {
  height: 100%;
  margin: 0 auto;
  letter-spacing: 2px;
  font-size: 10px;
}
