
body,
html {
  background-color: rgb(255, 255, 255);
  height: 100%;
  margin: 0 auto;
  letter-spacing: 0px;
  font-size: 10px;
}
  
#text {
  position: fixed;
  background-color: violet;
  opacity: 60%;
  left: 30px;
  z-index: 40;
  display: block;
  cursor: pointer;
  width: 240px;
  height: 44px;
  text-align: center;
  border: 1px solid #232323;
}

#text2 {
  position: fixed;
  background-color: yellow;
  opacity: 60%;
  top: 60px;
  left: 30px;
  z-index: 40;
  display: block;
  cursor: pointer;
  width: 240px;
  height: 44px;
  text-align: center;
  border: 1px solid #232323;
}
