/* ------------------------------------------------------
  Letter Drop Stylesheet version 1.0 by Rich Duncan
    
    Animation, look and feel can all be configured here
    without editting the javascript loader. 
------------------------------------------------------ */

@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,300,600,700,800);




h1 {
  margin: 0;
  padding: 0;
  top: 0px;
  right: 90px;
  font-family: 'Raleway';
  font-weight: 600;
  font-size: 7em;
  color: #89eff3;
}



.letterDrop {
  position: fixed;
  writing-mode: vertical-rl; 
  display: inline-block;
  text-transform: uppercase; 
  letter-spacing: 0.5em;
  transform: rotateX(-90deg);
  animation: letterDrop 1.2s ease 1 normal forwards;
}

@keyframes letterDrop {
    10% {
        opacity: 0.5;
        color: yellow;
    }
    20% {
        opacity: 0.8;
        color: violet;
        top: 3.75em;
        transform: rotateX(-360deg);
    }
    100% {
        opacity: 50%; 
        color: turquoise;
        top: 4.50em;
        transform: rotateX(360deg);
    }
}

/*
span:nth-child(2n) {
  color: #663399;
}
