.fullkashi{
    opacity: 70%;
    font-size: 20px;
    position: absolute;
    color: rgb(116, 148, 143);
    top: 900px;
    left: 100px;
}
.kashimuras{
    opacity: 50%;
    font-size: 200px;
    position: absolute;
    color: slateblue;
}

.kashikiiro{
    opacity: 50%;
    font-size: 200px;
    position: absolute;
    color: rgb(208, 241, 89);
}
.kashimidor{
    opacity: 50%;
    font-size: 200px;
    position: absolute;
    color: rgb(76, 241, 112);
}
.kashiaoiro{
    opacity: 50%;
    font-size: 200px;
    position: absolute;
    color: rgb(89, 150, 241);
}
.kashiakair{
    opacity: 50%;
    font-size: 200px;
    position: absolute;
    color: rgb(240, 70, 70);
}
.kashipinku{
    opacity: 50%;
    font-size: 200px;
    position: absolute;
    color: rgb(241, 89, 221);
}

.word1{
    top: 405000px;
    left: 100px;
}
.word2{
    top: 404700px;
    left: 400px;
}
.word3{
    top: 404400px;
    left: 700px;
}
.word4{
    top: 403500px;
    left: 300px;
}
.word5{
    top: 403200px;
    left: 600px;
}
.word6{
    top: 402900px;
    left: 900px;
}
.word7{
    top: 402000px;
    left: 500px;
}
.word8{
    top: 401700px;
    left: 800px;
}
.word9{
    top: 401400px;
    left: 1100px;
}
.word10{
    top: 401000px;
    left: 1100px;
}
.word11{
    top: 400900px;
    left: 200px;
}
.word12{
    top: 400750px;
    left: 400px;
}
.word13{
    top: 400700px;
    left: 100px;
}
.word14{
    top: 400550px;
    left: 800px;
}
.word15{
    top: 400400px;
    left: 300px;
}
.word16{
    top: 400350px;
    left: 1100px;
}
.word17{
    top: 400200px;
    left: 600px;
}
.word18{
    font-size: 500px;
    top: 399000px;
    left: 550px;
}
.word19{
    font-size: 300px;
    top: 398500px;
    left: 100px;
}
.word20{
    font-size: 300px;
    top: 398500px;
    left: 600px;
}
.word21{
    font-size: 300px;
    top: 398500px;
    left: 1100px;
}
.word22{
    font-size: 300px;
    top: 396500px;
    left: 100px;
}
.word23{
    font-size: 300px;
    top: 396500px;
    left: 600px;
}
.word24{
    font-size: 300px;
    top: 396500px;
    left: 1100px;
}
.word25{
    font-size: 400px;
    top: 395400px;
    left: 100px;
}
.word26{
    top: 395500px;
    left: 450px;
}
.word27{
    top: 395350px;
    left: 550px;
}
.word28{
    top: 395250px;
    left: 750px;
}
.word29{
    top: 395150px;
    left: 950px;
}
.word30{
    top: 394900px;
    left: 1100px;
}
.word31{
    top: 394000px;
    left: 500px;
}
.word32{
    top: 393200px;
    left: 200px;
}
.word33{
    top: 392400px;
    left: 1100px;
}
.word34{
    top: 391600px;
    left: 600px;
}
.word35{
    top: 390800px;
    left: 900px;
}
.word36{
    font-size: 500px;
    top: 390000px;
    left: 200px;
}
.word37{
    top: 389500px;
    left: 200px;
}
.word38{
    top: 389300px;
    left: 400px;
}
.word39{
    top: 389100px;
    left: 600px;
}
.word40{
    font-size: 400px;
    top: 388400px;
    left: 250px;
}
.word41{
    font-size: 400px;
    top: 388000px;
    left: 650px;
}
.word42{
    font-size: 400px;
    top: 387600px;
    left: 1050px;
}
.word43{
    font-size: 400px;
    top: 387200px;
    left: 700px;
}
.word44{
    font-size: 400px;
    top: 386800px;
    left: 350px;
}
.word45{
    font-size: 400px;
    top: 386400px;
    left: 150px;
}
.word46{
    font-size: 400px;
    top: 386000px;
    left: 400px;
}
.word47{
    font-size: 400px;
    top: 385600px;
    left: 800px;
}
.word48{
    font-size: 400px;
    top: 385200px;
    left: 1100px;
}
.word49{
    font-size: 400px;
    top: 384800px;
    left: 900px;
}
.word50{
    font-size: 400px;
    top: 384400px;
    left: 450px;
}
.word51{
    font-size: 400px;
    top: 384000px;
    left: 250px;
}
.word52{
    font-size: 600px;
    top: 382000px;
    left: 520px;
}
.word53{
    font-size: 600px;
    top: 381000px;
    left: 520px;
}
.word54{
    font-size: 600px;
    top: 380000px;
    left: 520px;
}
.word55{
    top: 379000px;
    left: 100px;
}
.word56{
    top: 378600px;
    left: 300px;
}
.word57{
    top: 378200px;
    left: 500px;
}
.word58{
    top: 377800px;
    left: 700px;
}
.word59{
    top: 377400px;
    left: 900px;
}
.word60{
    font-size: 500px;
    top: 376000px;
    left: 100px;
}
.word61{
    font-size: 500px;
    top: 375500px;
    left: 100px;
}
.word62{
    font-size: 500px;
    top: 375000px;
    left: 100px;
}
.word63{
    top: 374900px;
    left: 100px;
}
.word64{
    font-size: 600px;
    top: 373000px;
    left: 900px;
}
.word65{
    top: 373500px;
    left: 700px;
}
.word66{
    top: 373300px;
    left: 500px;
}
.word67{
    top: 373100px;
    left: 300px;
}
.word68{
    font-size: 600px;
    top: 371000px;
    left: 50px;
}
.word69{
    font-size: 600px;
    top: 370500px;
    left: 400px;
}
.word70{
    font-size: 600px;
    top: 370000px;
    left: 800px;
}
.word71{
    font-size: 600px;
    top: 369500px;
    left: 50px;
}
.word72{
    font-size: 600px;
    top: 369000px;
    left: 400px;
}
.word73{
    font-size: 600px;
    top: 368500px;
    left: 800px;
}
.word74{
    font-size: 600px;
    top: 368000px;
    left: 50px;
}
.word75{
    font-size: 600px;
    top: 367500px;
    left: 400px;
}
.word76{
    font-size: 600px;
    top: 367000px;
    left: 800px;
}
.word77{
    font-size: 600px;
    top: 365000px;
    left: 800px;
}
.word78{
    font-size: 600px;
    top: 364500px;
    left: 800px;
}
.word79{
    font-size: 600px;
    top: 364000px;
    left: 800px;
}
.word80{
    font-size: 600px;
    top: 363500px;
    left: 800px;
}
.word81{
    font-size: 600px;
    top: 363000px;
    left: 100px;
}
.word82{
    font-size: 600px;
    top: 362400px;
    left: 100px;
}
.word83{
    font-size: 600px;
    top: 361800px;
    left: 100px;
}
.word84{
    font-size: 600px;
    top: 361200px;
    left: 100px;
}
.word85{
    font-size: 600px;
    top: 360600px;
    left: 100px;
}
.word86{
    font-size: 400px;
    top: 340000px;
    left: 250px;
}
.word87{
    font-size: 400px;
    top: 339600px;
    left: 750px;
}
.word88{
    font-size: 400px;
    top: 339200px;
    left: 250px;
}
.word89{
    font-size: 400px;
    top: 338800px;
    left: 750px;
}
.word90{
    font-size: 400px;
    top: 338400px;
    left: 250px;
}
.word91{
    font-size: 400px;
    top: 338000px;
    left: 750px;
}
.word92{
    font-size: 400px;
    top: 337600px;
    left: 250px;
}
.word93{
    font-size: 400px;
    top: 337200px;
    left: 750px;
}
.word94{
    font-size: 400px;
    top: 336800px;
    left: 250px;
}
.word95{
    font-size: 600;
    top: 336000px;
    left: 200px;
}
.word96{
    top: 336000px;
    left: 500px;
}
.word97{
    top: 335000px;
    left: 100px;
}
.word98{
    top: 334700px;
    left: 300px;
}
.word99{
    top: 334400px;
    left: 500px;
}
.word100{
    top: 334100px;
    left: 700px;
}
.word101{
    top: 333800px;
    left: 900px;
}
.word102{
    top: 333500px;
    left: 700px;
}
.word103{
    top: 333200px;
    left: 500px;
}
.word104{
    top: 332900px;
    left: 300px;
}
.word105{
    top: 332600px;
    left: 100px;
}
.word106{
    font-size: 350px;
    top: 331500px;
    left: 200px;
}
.word107{
    font-size: 350px;
    top: 331000px;
    left: 800px;
}
.word108{
    font-size: 350px;
    top: 330500px;
    left: 200px;
}
.word109{
    font-size: 350px;
    top: 330000px;
    left: 800px;
}
.word110{
    font-size: 350px;
    top: 329500px;
    left: 200px;
}
.word111{
    font-size: 350px;
    top: 329000px;
    left: 800px;
}
.word112{
    font-size: 350px;
    top: 328500px;
    left: 200px;
}
.word113{
    font-size: 350px;
    top: 328000px;
    left: 800px;
}
.word114{
    font-size: 500;
    top: 326500px;
    left: 500px;
}
.word115{
    font-size: 500;
    top: 325500px;
    left: 500px;
}
.word116{
    top: 324700px;
    left: 500px;
}
.word117{
    top: 324500px;
    left: 100px;
}
.word1171{
    top: 324400px;
    left: 700px;
}
.word1172{
    top: 324200px;
    left: 900px;
}
.word1173{
    top: 323900px;
    left: 300px;
}
.word1174{
    top: 323800px;
    left: 100px;
}
.word1175{
    top: 323500px;
    left: 600px;
}
.word1176{
    top: 324000px;
    left: 200px;
}
.word1177{
    top: 323450px;
    left: 500px;
}
.word118{
    font-size: 500px;
    top: 323000px;
    left: 900px;
}
.word119{
    top: 322300px;
    left: 550px;
}
.word120{
    top: 322000px;
    left: 550px;
}
.word121{
    top: 321700px;
    left: 550px;
}
.word122{
    top: 321400px;
    left: 550px;
}
.word123{
    top: 321100px;
    left: 550px;
}
.word124{
    top: 320800px;
    left: 550px;
}
.word125{
    top: 320500px;
    left: 550px;
}
.word126{
    font-size: 700px;
    top: 319000px;
    left: 50px;
}
.word127{
    font-size: 700px; 
    top: 318600px;
    left: 225px;
}
.word128{
    font-size: 700px;
    top: 318100px;
    left: 400px;
}
.word129{
    font-size: 700px;
    top: 317600px;
    left: 575px;
}
.word130{
    top: 317000px;
    left: 100px;
}
.word131{
    top: 317000px;
    left: 300px;
}
.word132{
    font-size: 300px;
    top: 316500px;
    left: 200px;
}
.word133{
    font-size: 300px;
    top: 316300px;
    left: 500px;
}
.word134{
    font-size: 300px;
    top: 316100px;
    left: 800px;
}
.word135{
    font-size: 400px;
    top: 315500px;
    left: 200px;
}
.word136{
    top: 315600px;
    left: 250px;
}
.word137{
    font-size: 400px;
    top: 314800px;
    left: 550px;
}
.word138{
    top: 314800px;
    left: 600px;
}
.word139{
    font-size: 400px;
    top: 314100px;
    left: 900px;
}
.word140{
    top: 314100px;
    left: 950px;
}
.word141{
    top: 313500px;
    left: 100px;
}
.word142{
    top: 313200px;
    left: 300px;
}
.word143{
    top: 312900px;
    left: 500px;
}
.word144{
    top: 312600px;
    left: 700px;
}
.word145{
    top: 312100px;
    left: 900px;
}
.word146{
    top: 200000px;
    left: 900px;
}
.word147{
    top: 199700px;
    left: 600px;
}
.word148{
    top: 199400px;
    left: 300px;
}
.word149{
    top: 198500px;
    left: 800px;
}
.word150{
    top: 198200px;
    left: 500px;
}
.word151{
    top: 197900px;
    left: 200px;
}
.word152{
    top: 197000px;
    left: 700px;
}
.word153{
    top: 196700px;
    left: 400px;
}
.word154{
    top: 196400px;
    left: 100px;
}
.word155{
    top: 196000px;
    left: 500px;
}
.word156{
    top: 195900px;
    left: 700px;
}
.word157{
    top: 195800px;
    left: 1000px;
}
.word158{
    top: 195700px;
    left: 100px;
}
.word159{
    top: 195600px;
    left: 400px;
}
.word160{
    top: 195500px;
    left: 900px;
}
.word161{
    top: 195400px;
    left: 600px;
}
.word162{
    top: 195300px;
    left: 200px;
}
.word163{
    font-size: 500px;
    top: 194500px;
    left: 800px;
}
.word164{
    top: 194000px;
    left: 100px;
}
.word165{
    top: 193700px;
    left: 400px;
}
.word166{
    top: 193400px;
    left: 700px;
}
.word167{
    top: 192500px;
    left: 200px;
}
.word168{
    top: 192200px;
    left: 500px;
}
.word169{
    top: 191900px;
    left: 800px;
}
.word170{
    font-size: 400px;
    top: 191000px;
    left: 100px;
}
.word171{
    font-size: 400px;
    top: 190500px;
    left: 900px;
}
.word172{
    font-size: 400px;
    top: 190000px;
    left: 100px;
}
.word173{
    font-size: 400px;
    top: 189500px;
    left: 100px;
}
.word174{
    font-size: 400px;
    top: 189000px;
    left: 100px;
}
.word175{
    font-size: 400px;
    top: 188500px;
    left: 900px;
}
.word176{
    top: 187700px;
    left: 700px;
}
.word177{
    top: 187600px;
    left: 200px;
}
.word178{
    top: 187500px;
    left: 300px;
}
.word179{
    top: 187400px;
    left: 900px;
}
.word180{
    top: 187300px;
    left: 500px;
}
.word181{
    top: 186600px;
    left: 100px;
}
.word182{
    font-size: 400px;
    top: 186000px;
    left: 300px;
}
.word183{
    font-size: 400px;
    top: 186000px;
    left: 600px;
}
.word184{
    font-size: 400px;
    top: 186000px;
    left: 900px;
}
.word185{
    top: px;
    left: px;
}
.word186{
    top: px;
    left: px;
}
.word187{
    top: px;
    left: px;
}
.word188{
    top: px;
    left: px;
}
.word189{
    top: px;
    left: px;
}
.word190{
    top: px;
    left: px;
}
.word191{
    top: px;
    left: px;
}
.word192{
    top: px;
    left: px;
}
.word193{
    top: px;
    left: px;
}
.word194{
    top: px;
    left: px;
}
.word195{
    top: px;
    left: px;
}
.word196{
    top: px;
    left: px;
}
.word197{
    top: px;
    left: px;
}
.word198{
    top: px;
    left: px;
}
.word199{
    top: px;
    left: px;
}
.word200{
    top: px;
    left: px;
}
.word201{
    top: px;
    left: px;
}
.word202{
    top: px;
    left: px;
}
.word203{
    top: px;
    left: px;
}
.word204{
    top: px;
    left: px;
}
.word205{
    top: px;
    left: px;
}
.word206{
    top: px;
    left: px;
}
.word207{
    top: px;
    left: px;
}
.word208{
    top: px;
    left: px;
}
.word209{
    top: px;
    left: px;
}
.word210{
    top: px;
    left: px;
}
.word211{
    top: px;
    left: px;
}
.word212{
    top: px;
    left: px;
}
.word213{
    top: px;
    left: px;
}
.word214{
    top: px;
    left: px;
}
.word215{
    top: px;
    left: px;
}
.word216{
    top: px;
    left: px;
}
.word217{
    top: px;
    left: px;
}
.word218{
    top: px;
    left: px;
}
.word219{
    top: px;
    left: px;
}
.word220{
    top: px;
    left: px;
}
.word221{
    top: px;
    left: px;
}
.word222{
    top: px;
    left: px;
}
.word223{
    top: px;
    left: px;
}
.word224{
    top: px;
    left: px;
}
.word225{
    top: px;
    left: px;
}
.word226{
    top: px;
    left: px;
}
.word227{
    top: px;
    left: px;
}
.word228{
    top: px;
    left: px;
}
.word229{
    top: px;
    left: px;
}
.word230{
    top: px;
    left: px;
}
.word231{
    top: px;
    left: px;
}
.word232{
    top: px;
    left: px;
}
.word233{
    top: px;
    left: px;
}
.word234{
    top: px;
    left: px;
}
.word235{
    top: px;
    left: px;
}
.word236{
    top: px;
    left: px;
}
.word237{
    top: px;
    left: px;
}
.word238{
    top: px;
    left: px;
}
.word239{
    top: px;
    left: px;
}
.word240{
    top: px;
    left: px;
}
.word241{
    top: px;
    left: px;
}
.word242{
    top: px;
    left: px;
}
.word243{
    top: px;
    left: px;
}
.word244{
    top: px;
    left: px;
}
.word245{
    top: px;
    left: px;
}
.word246{
    top: px;
    left: px;
}
.word247{
    top: px;
    left: px;
}
.word248{
    top: px;
    left: px;
}
.word249{
    top: px;
    left: px;
}
.word250{
    top: px;
    left: px;
}
.word251{
    top: px;
    left: px;
}
.word252{
    top: px;
    left: px;
}
.word253{
    top: px;
    left: px;
}
.word254{
    top: px;
    left: px;
}
.word255{
    top: px;
    left: px;
}
.word256{
    top: px;
    left: px;
}
.word257{
    top: px;
    left: px;
}
.word258{
    top: px;
    left: px;
}
.word259{
    top: px;
    left: px;
}
.word260{
    top: px;
    left: px;
}
.word261{
    top: px;
    left: px;
}
.word262{
    top: px;
    left: px;
}
.word263{
    top: px;
    left: px;
}
.word264{
    top: px;
    left: px;
}
.word265{
    top: px;
    left: px;
}
.word266{
    top: px;
    left: px;
}
.word267{
    top: px;
    left: px;
}
.word268{
    top: px;
    left: px;
}
.word269{
    top: px;
    left: px;
}
.word270{
    top: px;
    left: px;
}
.word271{
    top: px;
    left: px;
}
.word272{
    top: px;
    left: px;
}
.word273{
    top: px;
    left: px;
}
.word274{
    top: px;
    left: px;
}
.word275{
    top: px;
    left: px;
}
.word276{
    top: px;
    left: px;
}
.word277{
    top: px;
    left: px;
}
.word278{
    top: px;
    left: px;
}
.word279{
    top: px;
    left: px;
}
.word280{
    top: px;
    left: px;
}
.word281{
    top: px;
    left: px;
}
.word282{
    top: px;
    left: px;
}
.word283{
    top: px;
    left: px;
}
.word284{
    top: px;
    left: px;
}
.word285{
    top: px;
    left: px;
}
.word286{
    top: px;
    left: px;
}
.word287{
    top: px;
    left: px;
}
.word288{
    top: px;
    left: px;
}
.word289{
    top: px;
    left: px;
}
.word290{
    top: px;
    left: px;
}
.word291{
    top: px;
    left: px;
}
.word292{
    top: px;
    left: px;
}
.word293{
    top: px;
    left: px;
}
.word294{
    top: px;
    left: px;
}
.word295{
    top: px;
    left: px;
}
.word296{
    top: px;
    left: px;
}
.word297{
    top: px;
    left: px;
}
.word298{
    top: px;
    left: px;
}
.word299{
    top: px;
    left: px;
}
.word300{
    top: px;
    left: px;
}
.word301{
    top: px;
    left: px;
}
.word302{
    top: px;
    left: px;
}
.word303{
    top: px;
    left: px;
}
.word304{
    top: px;
    left: px;
}
.word305{
    top: px;
    left: px;
}
.word306{
    top: px;
    left: px;
}
.word307{
    top: px;
    left: px;
}
.word308{
    top: px;
    left: px;
}
.word309{
    top: px;
    left: px;
}
.word310{
    top: px;
    left: px;
}
.word311{
    top: px;
    left: px;
}
.word312{
    top: px;
    left: px;
}
.word313{
    top: px;
    left: px;
}
.word314{
    top: px;
    left: px;
}
