
video{
    position: relative;
    top: 0;
    left: 0;
      width: auto;
      height: auto;
      min-width: 100%;
      min-height: 100%;
  }
  #title{
    font-family: "ヒラギノ角ゴシック";
    writing-mode: vertical-rl; 
    opacity: 30%;
    top: 40px;
    right: 20px;
    position: fixed;
    font-size: 80px;
    color: rgb(52, 216, 216);
}

body,
html {
  background-color: black;
  height: 8000px;
  margin: 0 auto;
  letter-spacing: 0px;
  font-size: 10px;
}
  
/*固定する背景*/
div {
  box-sizing: border-box;
  color: #FFF;
  font-size: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 5%;
}
.parallax-bg500 {
  background-image: url("images/500.png");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.parallax-bg499 {
  background-image: url("images/499.png");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
 
/*スクロールするコンテンツ*/
.scrollbox {
  background-color: #111;
}