body {
    font-family: sans-serif;
  }
  h1 {
    padding: 10px 10px;
    width: 500px;
    height: 80px;
    text-align: left;
    font-weight: 400;
    color: rgb(231, 243, 247);
    font-family: 'Times New Roman';
    background-color: #999999;
  }
  h2 {
    font-weight: 400;
    color: rgb(230, 61, 61);
    font-family: 'Times New Roman';
    font-weight: 200;
  }
  #studios > div {
    margin: 1em 0;
    padding: 0.5em;
    background: #f8f8f8;
    min-height: 3em;
  }
  .studio-title {
    font-weight: bold;
  }
  .studio-title-en {
    margin-left: 1em;
    font-weight: 100;
    opacity: 0.75;
  }
  .studio-description {
      margin-left: 1em;
      font-size: 0.8em;
      color: #000;
  }
  .studio-faculty {
      font-weight: bold;
  }
  .studio-image{
      width: 200;
      height: fit-content;
  }